fastapi
uvicorn[standard]
motor
pydantic[email]
python-dotenv
httpx
python-jose[cryptography]
passlib[bcrypt]
# Pin bcrypt to a version compatible with passlib to avoid '__about__' warning
bcrypt==4.0.1
python-multipart
boto3
pyjwt
cryptography
requests
aio-pika
pika
pydantic-settings